{% load static %}

<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home'  %}"><img src="{% static 'users/images/cw_logo.jpg' %}"
            alt="CLARUSWAY_LOGO" />

        Clarusway FS</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% comment %} {% url 'students' %} {% endcomment %}
                <a class="nav-link" href="">Students</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %} {% if request.user.is_superuser %}

            <li class="nav-item active">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}

            <li class="nav-item active">
                {% comment %} {% url 'logout' %} {% endcomment %}
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
            </li>
            {% else %}

            <li class="nav-item active">
                {% comment %} {% url 'user_login' %} {% endcomment %}
                <a class="nav-link" href="{% url 'user_login' %}}">Log In</a>
            </li>
            {% endif %}
            <li class="nav-item active">
                {% comment %} {% url 'register' %} {% endcomment %}
                <a class="nav-link" href="{% url 'register' %}}">Register</a>
            </li>
        </ul>
    </div>
</nav>